flows.json
[
    {
        "id": "02869fe809604956",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6a11580a2077c92",
        "type": "inject",
        "z": "02869fe809604956",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "f5f6532e6d987d59"
            ]
        ]
    },
    {
        "id": "f5f6532e6d987d59",
        "type": "debug",
        "z": "02869fe809604956",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "216bb4b93960b281",
        "type": "debug",
        "z": "02869fe809604956",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "2b810ca271f585fd",
        "type": "comment",
        "z": "02869fe809604956",
        "name": "",
        "info": "",
        "x": 280,
        "y": 260,
        "wires": []
    },
    {
        "id": "d533d116f7b97a50",
        "type": "inject",
        "z": "02869fe809604956",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "49e1883d5fc3aa91",
        "type": "comment",
        "z": "02869fe809604956",
        "name": "",
        "info": "",
        "x": 540,
        "y": 420,
        "wires": []
    }
]